body
{
    color:gray;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0 auto;
}

#container
{
width: 70%;
padding: 1em;
text-align: left;
border: 1px solid #DDD;
margin: o auto;
}


#container h1

{
font-size:  30px;
text-align: left;
}